/********************/
/* LABEL FORMATTING */
/********************/

body {
  width: 48mm;
  margin: 0 1mm;
  padding: 0;
  user-select: none;
}

.break {
  page-break-after: always;
  height: 0px !important;
}

.label {
  height: 28mm;
  width: 100%;
  margin-top: 0mm;
  margin-bottom: 0mm;
  margin-right: 0mm;
  margin-left: 0mm;
  float: left;
  overflow: hidden;
  position: relative;
  
  /* Backgorund Image (Logo) */
  background-image: url(https://static.gamesmen.com.au/media/logo/default/the-gamesmen-logo-2019.svg);
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: top;
  
  /* Default Text Styles */
  text-align: center;
  font-family: Arial;
  font-size: 11px;
  line-height: 11px;
  word-wrap: break-word;
}

/* Force Background image preload */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(https://static.gamesmen.com.au/media/logo/default/the-gamesmen-logo-2019.svg);
}

.preowned {
  height: 56mm !important;
  /* Height for 2x labels */
}

/*************************/
/* LABEL DATA FORMATTING */
/*************************/

.label>span:nth-child(1) {
  /* DESCRIPTION */
  padding-top: 5.6mm !important;
  /* Move below logo */
  height: 18px !important;
  overflow: hidden;
  font-weight: bold;
  font-size: 9.5px;
  line-height: 9px;
  display: block;
  
}

.label>span:nth-child(2) {
  /* CONDITION */
  display: inline-block;
  min-width: 50%;
  font-size: 11px;
}

.preowned>span:nth-child(3) {
  display: none !important;
}

span:nth-child(3) {
  position: relative;
  display: inline-block;
  font-size: 11px;
}

.label>span:nth-child(3):before {
  /* STRIKETHROUGH */
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.label>span:nth-child(4) {
  /* PRICE */
  display: block;
  font-size: 32px;
  font-weight: bolder;
  line-height: 28px;
}

.label>span:nth-child(5) {
  /* ID */
  font-size: 9px;
  line-height: 9px;
  min-width: 20%;
  margin-left: 5%;
  display: inline-block;
  text-align: left;
  user-select: text;
}

.label>span:nth-child(6) {
  /* SKU */
  font-size: 9px;
  line-height: 9px;
  min-width: 70%;
  margin-right: 5%;
  display: inline-block;
  text-align: right;
}

span .barcode {
  display: block;
  font-size: 44px !important;
  font-family: 'Code39QuarterInch';
  /* position: absolute; */
  /* top: 90px; */
  width: 100%;
  /* transform-origin: 50% 0%; */
  transform: scaleY(2.3);
  line-height: 100% !important;
  height: 1px;
}

.label>span:nth-child(8) {
  /* SECOND LABEL DESCRIPTION  */
  font-size: 9px;
  line-height: 9px;
  display: block;
  position: absolute;
  top: 190px;
  width: 100%;
}

/********************/
/* PRINT FORMATTING */
/********************/
html>div {
  display: none;
}

/*@page {
size: 48mm 28mm portrait;
margin: 0mm;
}*/

@media print {
  
  span .barcode {
    top: 65px;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact;
    box-shadow: inset 0 0 0 1000px gold;
  }
  
  .noprint {
    display: none;
  }
}